
@import url('https://fonts.googleapis.com/css?family=Allerta|Montserrat:400,700');

body{
	font-family: 'Allerta', sans-serif;
	margin: 0;
}

.button{
	border: none;
	border-radius: 5px;
	background-color: #fd324e;
	color: #fff;
	padding: 7px;
}

.titulo{
	font-size: 70px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0px;
	margin-top: 70px;
}

.title-a{
	font-size: 24px;
	margin-top: 0;

}

.title-b{
	font-size: 50px;
	margin-bottom: 20px;
}

.guitarras h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}

.portada{
	background-image: url('../images/background.png');
	color: #fff;
	padding: 20px;
}

.portada button{
	margin-bottom: 70px;
}

.guitarras{
	color: #1f313c;
}

.menu{
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0px;
}

.logotipo{
	display: inline-block;	
}

.menu li{
	display: inline-block;
	margin-right: 30px;
}


.contenedor{
	width: 800px;
	margin: auto;
}

.guitarra{
	margin: 10px;
	/*overflow: hidden;*/
	border: 1px solid #1f313c;
	padding: 10px;
	border-radius: 8px;
}

.derecha {
	float: right;
	position: relative;
	top: -130;
}

.izquierda{
	float: left;
	position: relative;
	top: 80;
}

.contenedor-guitarra-a{
	padding-left: 20px;
}

.contenedor-guitarra-b{
	margin-left: 370px;
}

.guitarra ol{
	padding: 0px;
}

.header{
	position: relative;
}

.footer{
	background-color: #273b47;
}

.contacto{
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items: center;
}

.contacto img{
	display: block;
}

.contacto strong{
	display: block;
}

.contacto a{
	color: #fff;
	text-decoration: none;
	margin: 10px 10px 10px 0;
}

.footer .contenedor{
	display: flex;
	justify-content: space-between;
}

.formulario{
	display: flex;
	width: 400px;
	color: #fff;
	padding: 50px 10px;
}

.col1, .col2{
	display: flex;
	flex-direction: column;
}

.col1{
	margin-right: 15px;
}

.col2{
	align-items: flex-start;
}

.intereses label{
	font-size: 12px;
}

.formulario label, .sexo, .intereses{
	margin-bottom: 10px;
}

.sexo{
	margin-top: 10px;
}
